<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <property name="hibernate.connection.url">jdbc:mysql://happyheavendb.cvy8crucpdjq.us-west-2.rds.amazonaws.com:3306/hh_group</property>
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">happyheaven</property>
   <property name="hibernate.hbm2ddl.auto">update</property>
   <property name="show_sql">false</property>
   <property name="hibernate.current_session_context_class">thread</property>
   <mapping class="com.happyheaven.model.User"/>
   <mapping class="com.happyheaven.model.Trip"/>
   <mapping class="com.happyheaven.model.TripDetail"/>
   <mapping class="com.happyheaven.model.TripDetailAir"/>
    <mapping class="com.happyheaven.model.TripDetailGround"/>
</session-factory>
</hibernate-configuration>